language: php

addons:
    code_climate:
        repo_token: 3b0878715671c2e346688330ab3b1f96c9f92b722d5bd9b4d2901fb39e6698b2

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1

before_install:
    - curl -sS https://getcomposer.org/installer | php

install:
    - rm composer.json
    - mv composer.travis.json composer.json
    - php composer.phar install --dev

script:
    - phpunit --coverage-clover build/logs/clover.xml

after_script:
    - vendor/bin/test-reporter